<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
    <div class="brand-logo text-left ml-2">
        <a href="/">
            <img src="/assets/images/gestion-de-projet.png" class="logo-icon" alt="logo icon">
            <h5 class="logo-text">AGILE - KANBAN</h5>
        </a>
    </div>
    <ul class="sidebar-menu do-nicescrol">
        <li class="sidebar-header">NAVIGATION</li>
        <li>
            <a href="/">
                <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>

        <!-- <li>
            <a href="icons.html">
                <i class="zmdi zmdi-invert-colors"></i> <span>UI Icons</span>
            </a>
        </li>

        <li>
            <a href="forms.html">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Forms</span>
            </a>
        </li> -->

        <li>
            <a href="/user" class="user__">
                <i class="zmdi zmdi-grid"></i> <span>Equipes</span>
            </a>
        </li>

        <li>
            <a href="/agenda">
                <i class="zmdi zmdi-calendar-check"></i> <span>Agenda</span>
                <small class="badge float-right badge-light">New</small>
            </a>
        </li>

        <li>
            <a href="profile.html">
                <i class="zmdi zmdi-face"></i> <span>Profil</span>
            </a>
        </li>

        <li>
            <a href="login.html" target="_blank">
                <i class="zmdi zmdi-lock"></i> <span>Login</span>
            </a>
        </li>

        <li>
            <a href="register.html" target="_blank">
                <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
            </a>
        </li>

        <li class="sidebar-header">VOS PROJETS <button class="ms- 4 btn btn-sm btn-primary float-right" onclick="newProject()"><i class="zmdi zmdi-plus"></i> Créer</button></li>
        
        <!-- <li><a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a></li>
        <li><a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i> <span>Warning</span></a>
        </li>
        <li><a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a></li> -->

    </ul>

    <ul class="sidebar-menu do-nicescrol liste_projet w-100" style="height: 200px;" id="liste-projet-side">

    </ul>

</div>

<%- include('modal'); %>

<script>

    const Params = new URLSearchParams(window.location.search);
    const project_id = Params.get('id');

    // console.log(project_id);


    function newProject(){
        $("#newProject").modal("show")
    }

    fetch("/project/getAll").then(resp=>resp.json())
    .then(data=>{
        let htm = ""
        if(data.length > 0){
            for(let projet of data){
                htm+=`<li class="project-${projet.id}"><a href="/project?id=${projet.id}"><i class="zmdi zmdi-coffee text-danger"></i> <span>${projet.name}</span></a></li>`
            }
            document.querySelector("#liste-projet-side").innerHTML += htm;
            if(project_id){
                if(document.querySelector(".project-"+project_id)){
                    document.querySelector(".project-"+project_id).classList.add('active');
                    document.querySelector(".project-"+project_id).scrollIntoView(false);
                }
            }
        }
        
    })
</script>